In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn import linear_model 
from sklearn.preprocessing import LabelEncoder 
import pickle
import math 
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import tree 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV

In [3]:
df=pd.read_csv ("C:/Users/rillh/OneDrive/Desktop/Socia Media Engagement/Viral_Social_Media_Trends.csv")
df.head(20)

,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,TikTok,Challenge,Video,UK,4163464,339431,53135,19346,High
1,Instagram,Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Twitter,Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,YouTube,Education,Shorts,Australia,917951,127125,11687,36806,Low
4,TikTok,Dance,Post,Brazil,64866,171361,69581,6376,Medium
5,Instagram,Challenge,Shorts,Australia,1323566,136282,86979,47129,Low
6,YouTube,Comedy,Tweet,Japan,627233,84121,97973,32648,Medium
7,YouTube,Gaming,Shorts,UK,2066886,317502,45222,33638,High
8,Twitter,Education,Live Stream,India,2169523,496078,96041,30174,Medium
9,TikTok,Gaming,Shorts,India,3898384,8634,69378,42700,Low
10,Instagram,Comedy,Live Stream,Germany,4070332,379894,46012,25242,High
11,Twitter,Music,Reel,Australia,4585669,465871,69083,8999,Medium
12,YouTube,Viral,Shorts,Canada,4105651,195560,37627,49089,High
13,YouTube,Fitness,Reel,Japan,1633015,312907,45774,30725,High
14,Twitter,Comedy,Post,Germany,2471790,370802,54110,17081,High
15,YouTube,Gaming,Live Stream,Canada,3079923,124237,44062,26702,Medium
16,Twitter,Dance,Reel,UK,294870,213142,20351,20767,Low
17,TikTok,Tech,Shorts,UK,2051091,24472,54704,41737,Medium
18,TikTok,Fashion,Post,USA,3461154,165335,50077,19505,Low
19,YouTube,Education,Tweet,UK,3143932,298685,84720,37162,Low

In [4]:
mean_comments=df.Comments.mean()
mean_likes=df.Likes.mean()
mean_shares=df.Shares.mean()
mean_views= df.Views.mean()




print("The mean comments is:" + str(mean_comments))
print("The mean likes is:" + str(mean_likes))
print("The mean shares is:" + str(mean_shares))
print("The mean views is:" + str(mean_views))

The mean comments is:24888.3938
The mean likes is:251475.0298
The mean shares is:50519.562
The mean views is:2494066.444

In [5]:
# We divide our dataset into input and target.

inputs=df.drop('Engagement_Level', axis='columns')
target=df['Engagement_Level']

inputs.head(10)

,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments
0,TikTok,Challenge,Video,UK,4163464,339431,53135,19346
1,Instagram,Education,Shorts,India,4155940,215240,65860,27239
2,Twitter,Challenge,Video,Brazil,3666211,327143,39423,36223
3,YouTube,Education,Shorts,Australia,917951,127125,11687,36806
4,TikTok,Dance,Post,Brazil,64866,171361,69581,6376
5,Instagram,Challenge,Shorts,Australia,1323566,136282,86979,47129
6,YouTube,Comedy,Tweet,Japan,627233,84121,97973,32648
7,YouTube,Gaming,Shorts,UK,2066886,317502,45222,33638
8,Twitter,Education,Live Stream,India,2169523,496078,96041,30174
9,TikTok,Gaming,Shorts,India,3898384,8634,69378,42700

In [6]:
target.head(10)

0      High
1    Medium
2    Medium
3       Low
4    Medium
5       Low
6    Medium
7      High
8    Medium
9       Low
Name: Engagement_Level, dtype: object

In [7]:


# Count total NA values in the entire DataFrame
print("\nTotal number of NA values:")
print(df.isna().sum().sum())

Total number of NA values:
0

🏷️ Encoding Categorical Features
In this step, we transform the categorical (string) columns in our input DataFrame into numerical format using one-hot encoding. This is essential for many machine learning models that require numerical input.

🔄 What We Did:
Applied pd.get_dummies() to convert the following categorical columns into binary indicator variables:

Platform

Hashtag

Content_Type

Region

This process creates a new column for each unique category in those features, allowing models to interpret the categorical information numerically.

✅ Result:
The resulting DataFrame, inputs_encoded, contains the original numeric features (if any) and the newly created dummy variables for each categorical feature.

We display the first 10 rows of the transformed dataset to verify the changes.

In [8]:



inputs_1 = pd.get_dummies(inputs, columns=['Platform','Hashtag', 'Content_Type', 'Region'])
inputs_encoded=inputs_1.drop(['Hashtag_Challenge'], axis='columns')

inputs_encoded.head(10)

,Views,Likes,Shares,Comments,Platform_Instagram,Platform_TikTok,Platform_Twitter,Platform_YouTube,Hashtag_Comedy,Hashtag_Dance,...,Content_Type_Tweet,Content_Type_Video,Region_Australia,Region_Brazil,Region_Canada,Region_Germany,Region_India,Region_Japan,Region_UK,Region_USA
0,4163464,339431,53135,19346,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,4155940,215240,65860,27239,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,3666211,327143,39423,36223,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,917951,127125,11687,36806,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,64866,171361,69581,6376,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
5,1323566,136282,86979,47129,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,627233,84121,97973,32648,0,0,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
7,2066886,317502,45222,33638,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
8,2169523,496078,96041,30174,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,3898384,8634,69378,42700,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [9]:
inputs_encoded.shape

(5000, 31)

In [10]:
print("Column names:", inputs_encoded.columns.tolist())

Column names: ['Views', 'Likes', 'Shares', 'Comments', 'Platform_Instagram', 'Platform_TikTok', 'Platform_Twitter', 'Platform_YouTube', 'Hashtag_Comedy', 'Hashtag_Dance', 'Hashtag_Education', 'Hashtag_Fashion', 'Hashtag_Fitness', 'Hashtag_Gaming', 'Hashtag_Music', 'Hashtag_Tech', 'Hashtag_Viral', 'Content_Type_Live Stream', 'Content_Type_Post', 'Content_Type_Reel', 'Content_Type_Shorts', 'Content_Type_Tweet', 'Content_Type_Video', 'Region_Australia', 'Region_Brazil', 'Region_Canada', 'Region_Germany', 'Region_India', 'Region_Japan', 'Region_UK', 'Region_USA']

🔢 Label Encoding the Target Variable
In this step, we convert the categorical target variable (Engagement_Level) into numeric form using LabelEncoder from scikit-learn.

✅ Why Label Encoding?
Most machine learning models require the target variable to be numeric. LabelEncoder assigns a unique integer to each class label, which is suitable for ordinal or classification targets.

🔄 What We Did:
Initialized and applied LabelEncoder to the target Series.

Created a new DataFrame, target_df, that includes:

The original Engagement_Level values

The newly encoded Engagement_Level_n values

Dropped the original string column (Engagement_Level) to retain only the numeric labels in target_final.

📦 Result:
The final target DataFrame target_final contains only numeric labels and is ready to be used for model training.

We displayed the first 20 rows to verify the encoding.

In [11]:

le = LabelEncoder()
encoded_labels = le.fit_transform(target)

# Add to DataFrame for clarity
target_df = pd.DataFrame({
    'Engagement_Level': target,
    'Engagement_Level_n': encoded_labels
})

# Display result
target_df.head(20)

target_final=target_df.drop(['Engagement_Level'], axis='columns')

target_final.head(20)

    Engagement_Level_n
0                    0
1                    2
2                    2
3                    1
4                    2
5                    1
6                    2
7                    0
8                    2
9                    1
10                   0
11                   2
12                   0
13                   0
14                   0
15                   2
16                   1
17                   2
18                   1
19                   1

In [12]:
inputs_encoded.head(20)

,Views,Likes,Shares,Comments,Platform_Instagram,Platform_TikTok,Platform_Twitter,Platform_YouTube,Hashtag_Comedy,Hashtag_Dance,...,Content_Type_Tweet,Content_Type_Video,Region_Australia,Region_Brazil,Region_Canada,Region_Germany,Region_India,Region_Japan,Region_UK,Region_USA
0,4163464,339431,53135,19346,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,4155940,215240,65860,27239,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,3666211,327143,39423,36223,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,917951,127125,11687,36806,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,64866,171361,69581,6376,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
5,1323566,136282,86979,47129,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,627233,84121,97973,32648,0,0,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
7,2066886,317502,45222,33638,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
8,2169523,496078,96041,30174,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,3898384,8634,69378,42700,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,4070332,379894,46012,25242,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11,4585669,465871,69083,8999,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12,4105651,195560,37627,49089,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
13,1633015,312907,45774,30725,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14,2471790,370802,54110,17081,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
15,3079923,124237,44062,26702,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
16,294870,213142,20351,20767,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
17,2051091,24472,54704,41737,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,3461154,165335,50077,19505,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,3143932,298685,84720,37162,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0

📊 Model Comparison Using Grid Search and Train-Test Split
In this section, we compare multiple classification models using GridSearchCV for hyperparameter tuning and evaluate each model's performance on a held-out test set.

✅ Steps Performed:
Defined multiple classifiers:

Support Vector Machine (SVC)

Random Forest

Logistic Regression

Decision Tree

Specified a range of hyperparameters for each model to tune using cross-validation.

Used GridSearchCV with 5-fold cross-validation on the training set to find the best parameters for each model.

Evaluated each best model on the test set using .score() to measure accuracy.

📈 Output:
The final table displays:

Model name

Best cross-validation score on the training data

Test score on unseen data

Best hyperparameters selected by GridSearchCV

This approach helps identify the model that not only fits the training data well but also generalizes best to unseen data.

In [13]:



X = inputs_encoded
y = target_final

# Perform the train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y.values.ravel(),  
    test_size=0.2,
    stratify=target_final,
    random_state=42
)


# Output the shapes of the resulting splits
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (4000, 31)
X_test shape: (1000, 31)
y_train shape: (4000,)
y_test shape: (1000,)

In [ ]:
# Define model parameters
model_params = {
    'svm': {
        'model': svm.SVC(),
        'params': {
            'C': [1],
            'kernel': ['linear'],
            'gamma': ['scale'],
            'class_weight': [None]
        }
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': [50],
            'max_depth': [10],
            'min_samples_split': [2],
            'min_samples_leaf': [1],
            'max_features': ['sqrt'],
            'bootstrap': [True]
        }
    },
    'Logistic_regression': {
        'model': LogisticRegression(solver='liblinear', multi_class='auto'),
        'params': {
            'C': [1],
            'penalty': ['l2'],
            'solver': ['liblinear'],
            'max_iter': [100],
            'class_weight': [None]
        }
    },
    'Decision_tree': {
        'model': tree.DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini'],
            'max_depth': [10],
            'min_samples_split': [2],
            'min_samples_leaf': [1],
            'max_features': [None]
        }
    }
}

# Store results
scores = []

# Run RandomizedSearchCV for each model
for model_name, mp in model_params.items():
    clf = RandomizedSearchCV(mp['model'], mp['params'], n_iter=1, cv=5, random_state=42, return_train_score=False)
    clf.fit(X_train, y_train)

    test_score = clf.score(X_test, y_test)

    scores.append({
        'model': model_name,
        'best_cv_score (train)': clf.best_score_,
        'test_score': test_score,
        'best_params': clf.best_params_
    })

# Create DataFrame of scores
score_df = pd.DataFrame(scores, columns=['model', 'best_cv_score (train)', 'test_score', 'best_params'])
score_df